@import '~bootstrap/scss/bootstrap';

.ds-menu  {

  height: calc(100vh - 56px);

  ul {

    padding: 0;

    li {
      list-style: none;
      cursor: pointer;

      a {
        color: white;
        text-decoration: none;
      }
    }
  }
}

.ds-dash {
  height: calc(100vh - 56px);
  overflow: scroll;
}

.ck-editor__editable_inline {
  min-height: 200px;
}

